{
  "tabWidth": 2,          // ширина одного таба (или пробелов, если useTabs: false) = 2 пробела
  "semi": true,           // ставить ; в конце каждой строки
  "trailingComma": "all", // добавлять запятые во всех возможных местах (массивы, объекты, параметры функций)
  "singleQuote": true,    // использовать одинарные кавычки ' вместо двойных "
  "bracketSpacing": true, // пробелы внутри фигурных скобок { a: 1 } вместо {a: 1}
  "bracketSameLine": true,// для JSX: закрывающая > остаётся на той же строке, что и последний атрибут
  "useTabs": true         // использовать табы (\t) вместо пробелов для отступов
}
