:host {
  width: 100%;
  background: none;
  border: none;
  border-bottom: var(--light-border);
  padding: 24px 20px;
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
  cursor: pointer;
}

:host:hover,
:host:focus-visible,
:host.active {
  background: var(--dark-active-color);
}

.last-message__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  text-align: left;
  color: var(--light-color);
}

.chat-user {
  color: var(--light-transparent-color);
  margin-bottom: 10px;
}

.time-message {
  color: #9f9f9f;
}

.icon-and-comments {
  display: flex;
  justify-self: end;
  margin-top: 10px;
  gap: 5px;
  color: var(--primary-color);
}

.icon-message-svg {
  width: 16px;
  height: 16px;
}

.icon-message-svg-notification {
  width: 16px;
  height: 16px;
}
