@if (chat(); as chat) {
  <app-avatar-circle
    class="size32"
    [avatarUrl]="chat.userFrom.avatarUrl"
  ></app-avatar-circle>

  <div class="last-message__wrapper">
    <div>
      <div class="chat-user medium-text">{{ chat.userFrom.firstName }} {{ chat.userFrom.lastName }}</div>
      <!-- '...' - выводим троеточие визуально -->
      <div class="medium-text">{{ chat.message ?? '...' }}</div>
    </div>
    <div>
      <span class="time-message">{{ chat.createdAt | customRelativeDate }}</span>
      <div class="icon-and-comments">

        <svg icon="comment" class="icon-svg"></svg>
        <span>{{ messageAmount().length }}</span>

        @if (chat.unreadCount > 0) {
          <!--        Кол-во непрочитанных в чате-->
          <svg icon="notification" class="icon-svg"></svg>
          <span>{{ chat.unreadCount }}</span>
        }
      </div>
    </div>
  </div>
}
