:host {
  display: grid;
  padding: 16px 20px;
  grid-template-rows: 1fr min-content;
  gap: 16px;
}

.messages-wrapper {
  display: grid;
  grid-gap: 12px;
  overflow-y: scroll;
  border: 1px solid #505050;
  padding: 16px;
  scrollbar-color: var(--primary-color) var(--dark-color);
}

.date-label-content {
  display: flex;
  justify-content: center;
}

.date-label {
  text-align: center;
  background: #161616;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}
