<div class="messages-wrapper" #messagesContainer>
  @for (group of getGroupedMessages(); track group[0]) {
    <!-- Заголовок даты -->
    <div class="date-label-content">
      <div class="date-label">
        {{ group[0] }}
      </div>
    </div>

    <div class="date-message-content">
      <!-- Сообщения этой группы -->
      @for (message of group[1]; track message.id) {
        <app-chat-workspace-message
          [message]="message"
        ></app-chat-workspace-message>
      }
    </div>
  }
</div>

<app-message-input
  (created)="onSendMessage($event)"
></app-message-input>
