.main {
  display: grid;
  grid-template-columns: 100px 1fr 2fr;
  border-bottom: 1px solid var(--light-color);
  padding: 25px 30px;
  gap: 15px;
}

img {
  width: 100%;
}

.language-subscribers {
  display: grid;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.subscribers-text {
  display: flex;
  gap: 10px;
}
