<form class="form-main" [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <h3 class="text mb16">Заявка на ремонт смартфона</h3>

  <div class="form-row" formGroupName="personInfo">
    <div>
      <label class="tt-control-label">
        Имя
        <input class="tt-input" type="text" placeholder="Имя" formControlName="name">
      </label>

      <!-- @if использует функцию валидатор - validateStartWith -->
      @if (form.controls.personInfo.controls.name.touched
      && form.controls.personInfo.controls.name.hasError('startsWith')) {
        <small style="color: tomato">
          {{ form.controls.personInfo.controls.name.getError('startsWith')?.message }}
        </small>
      }

      @if (form.controls.personInfo.controls.name.touched
      && form.controls.personInfo.controls.name.hasError('required')) {
        <small style="color: tomato">Это поле обязательно!</small>
      }
    </div>

    <label class="tt-control-label">
      Фамилия
      <input class="tt-input" type="text" placeholder="Фамилия" formControlName="lastName">
    </label>

    <label class="tt-control-label mb16">
      Тип получателя
      <select class="tt-input" formControlName="type">
        <option [value]="ReceiverTypePerson.PERSON">Физическое лицо</option>
        <option [value]="ReceiverTypePerson.LEGAL">Юридическое лицо</option>
      </select>
    </label>

    @if (form.controls.personInfo.controls.type.value === ReceiverTypePerson.LEGAL) {
      <label class="tt-control-label">
        ИИН
        <input class="tt-input" type="text" placeholder="ИИН" formControlName="iin">
      </label>
    } @else {
      <label class="tt-control-label">
        ИИН
        <input
          class="tt-input"
          type="text"
          formControlName="iinDisable"
          style="color: var(--primary-color);
          font-weight: bold"
        >
      </label>
    }
  </div>

  <div class="form-row" formGroupName="info">
    <label class="tt-control-label mb16">
      Тип смартфона
      <select class="tt-input" formControlName="typePhone">
        <option [value]="ReceiverTypePhone.OPPO">Oppo</option>
        <option [value]="ReceiverTypePhone.SPACEX">Apple Iphone</option>
        <option [value]="ReceiverTypePhone.IPHONE">Space X</option>
      </select>
    </label>

    <label class="tt-control-label mb16">
      Тип ОС
      <select class="tt-input" formControlName="typeOS">
        <option [value]="ReceiverTypeOS.IOS">IOS</option>
        <option [value]="ReceiverTypeOS.ANDROID">Android</option>
      </select>
    </label>

    <label class="tt-control-label">
      Дата заявки
      <input
        class="tt-input"
        placeholder="dd/mm/yyyy"
        type="text"
        formControlName="date"
        [maskito]="maskData"
      >
    </label>

    @if (form.controls.info.controls.typeOS.value === ReceiverTypeOS.IOS) {
      <label class="tt-control-label">
        Гарантия на IOS
        <select class="tt-input" formControlName="warranty">
          <option [value]="ReceiverTypeWarrantyIos.TYPE">Выберите гарантию...</option>
          <option [value]="ReceiverTypeWarrantyIos.MONTH1">1 месяц</option>
          <option [value]="ReceiverTypeWarrantyIos.MONTH3">3 месяц</option>
          <option [value]="ReceiverTypeWarrantyIos.MONTH6">6 месяц</option>
        </select>
      </label>
    } @else {
      <label class="tt-control-label">
        Гарантия на Android
        <input
          class="tt-input"
          type="text"
          formControlName="warrantyAndroid"
          style="color: var(--primary-color); font-weight: bold"
        >
      </label>
    }
  </div>

  <label class="reason-for-contact mb16">
    Причина обращения
    <input
      class="tt-input"
      type="text"
      placeholder="Причина обращения"
      formControlName="description"
    >
  </label>

  <div class="delivery-section-date mb16">
    <h3 class="mb16">Период доставки</h3>
  </div>

  <div class="two-columns" formGroupName="dateRange">
    <label class="tt-control-label">
      Дата от
      <input
        class="tt-input"
        type="date"
        formControlName="from"
      >
    </label>

    <label class="tt-control-label">
      Дата до
      <input
        class="tt-input"
        type="date"
        formControlName="to"
      >
    </label>
  </div>

  @if (form.controls.dateRange.touched
  && form.controls.dateRange.hasError('dateRange')) {
    <small style="color: tomato">
      {{ form.controls.dateRange.getError('dateRange')?.message }}
    </small>
  }

  <div>
    <div class="delivery-section mb16">
      <h3 class="mb16">Адрес доставки</h3>
      <button class="btn" (click)="addAddress()">Добавить</button>
    </div>

    @for (group of form.controls.addresses.controls; track group; let i = $index) {
      <div class="address-content" [formGroup]="group">

        <div class="address-grid mb16">
          <label class="tt-control-label">
            Город
            <input class="tt-input" type="text" placeholder="Город" formControlName="city">
          </label>

          <label class="tt-control-label">
            Улица
            <input class="tt-input" type="text" placeholder="Улица" formControlName="street">
          </label>

          <label class="tt-control-label">
            Дом
            <input class="tt-input" type="text" placeholder="Дом" formControlName="home">
          </label>

          <label class="tt-control-label">
            Квартира
            <input class="tt-input" type="text" placeholder="Квартира" formControlName="apartment">
          </label>

          <div>
            <label class="tt-control-label">
              Телефон
              <input
                class="tt-input"
                type="text"
                placeholder="Телефон"
                formControlName="phone"
                [maskito]="phoneMask"
              >
            </label>
            @if (group.controls.phone.touched
            && group.controls.phone.hasError('required')) {
              <small style="color: tomato">Это поле обязательно!</small>
            }
          </div>
        </div>

        <div class="additional-services" [formGroup]="form.controls.feature">
          <h3 class="mb16">Доп. услуги</h3>

          <div style="display: flex; gap: 36px">
            @for (control of form.controls.feature.controls | keyvalue: sort; track control; let i = $index) {
              <div>
                <label>
                  <input type="checkbox" [formControlName]="control.key">
                </label>
                {{ features[i].label }}
              </div>
            }
          </div>
        </div>

        <button class="btn" (click)="removeAddress(i)">Удалить</button>
      </div>
    }
  </div>

  <button class="btn btn-shadow mt20" type="submit">Подтвердить</button>
</form>
