:host {
  display: grid;
  grid-gap: 25px;
  width: 1000px;
  margin: 0 auto;
}

.profile-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--light-color);
  background: var(--dark-color);
  padding: 32px;
  height: calc(100dvh - (24px * 4));
}

.profile-form {
  display: grid;
  grid-gap: 20px;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.icons-and-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 300px;
}

.icons-svg {
  display: flex;
  gap: 25px;
  width: 300px;
  height: 50px;
  padding: 15px;
}

.icon-items {
  width: 60px;
  height: 50px;
  padding-left: 23px;
  padding-top: 15px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);

  &:hover {
    border: none;
    color: #E99898;
    border-bottom: 1px solid var(--light-color);
    border-radius: 0;
  }
}

.btn-btns {
  display: flex;
  gap: 10px;
}

.btn {
  width: 100%;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  color: var(--primary-color);
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--primary-color);

  &:hover {
    border: none;
    border-bottom: 1px solid var(--light-color);
    border-radius: 0;
  }
}

.skills-two-columns {
  display: grid;
  grid-template-columns: 1fr 170px;
  grid-gap: 16px;
}

.skills-two-columns-btn {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  margin-top: 16px;

  a {
    text-decoration: none;
    color: var(--primary-color);
  }

  &:hover {
    border: none;
    border-bottom: 1px solid var(--light-color);
    border-radius: 0;
  }
}
