:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 12px;
}

:host.is-mine {
  display: flex;
  grid-template-columns: min-content 32px;
  justify-self: end;

  .message-container {
    order: -1;
  }

  .message-text {
    clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 12px, 100% 100%, 0 100%);
    background: var(--primary-color);
    justify-self: end;
  }
}

.message-text {
  padding: 8px 16px;
  background: var(--message-color);
  font-weight: 500;
  color: var(--light-color);
  width: min-content;
  clip-path: polygon(12px 0, 100% 0, 100% 100%, 0% 100%, 0 12px);
  margin-top: 10px;
}
