:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 12px;
}

:host.is-mine {
  display: grid;
  grid-template-columns: 1fr 32px;
  justify-self: end;

  .message-container {
    order: -1;
  }

  .user-name-time {
    display: flex;
    gap: 8px;
    justify-content: flex-end; /* прижать к правому краю */
  }

  .name {
    order: 2; /* имя после времени */
  }

  .lastname {
    order: 3; /* имя после времени */
  }

  .time {
    order: 1; /* время первым */
  }

  .message-text {
    clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 12px, 100% 100%, 0 100%);
    background: var(--primary-color);
    justify-self: end;
    color: var(--dark-color);
    font-weight: 600;
  }

  .message-text-date {
    justify-self: end;
    font-size: 12px;
  }
}

.user-name-time {
  display: flex;
  gap: 8px;
}

.message-text-date {
  font-size: 12px;
}

.message-text {
  padding: 8px 16px;
  background: var(--message-color);
  font-weight: 500;
  color: var(--light-color);
  width: min-content;
  clip-path: polygon(12px 0, 100% 0, 100% 100%, 0% 100%, 0 12px);
  margin-top: 10px;
}
