:host {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 150px;
  gap: 250px;
}

.tt-control-label {
  position: relative;
}

.tt-control-label img {
  position: absolute;
  top: 33px;
  right: 15px;
  width: 35px;
}
